.otp__container {
  margin-top: 1.5rem /* 24px */;
  margin-bottom: 1.5rem /* 24px */;
}

.otp__input {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  border-radius: 0.375rem /* 6px */;
  border-width: 2px;
  font-weight: 600;
  color: rgb(255 255 255);
  background-color: rgb(229 231 235);
  text-align: center;
  text-align: center;
  width: 3.65rem;
  height: 3.65rem;
}

.otp__input--complete {
  background-color: rgb(134 239 172);
  border-color: rgb(22 163 74);
}
